.header{
  display: flex;
  padding-left: 600px;

}
.mhead{
  position: sticky;
  top: 0;
  z-index: 2000;
  background-color: white;
}
.aa{
  cursor: pointer;
}
.aa:hover{
  color: red;
  background-color: bisque;
}

.mhead{
  display: flex;
}
.btn:hover{
  background-color: brown;
}